version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: politics_backend
      POSTGRES_USER: manibharadwaj
      POSTGRES_PASSWORD: 
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./politics_backend:/app
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=politics_backend
      - DB_USER=manibharadwaj
      - DB_PASSWORD=
    depends_on:
      - db

volumes:
  postgres_data: